@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import 'rehype-callout/css'; 

@layer base {
    html{
        scroll-behavior: smooth;
    }
    .hero img{
        width:16rem;
        height: 16rem;
        animation-fill-mode: both;
    }
    button{
        padding:0.5rem 1rem;
        border-radius: 0.25rem;
        border: 1px solid;
        cursor: pointer;
        
    }
}

:root{
    /* max-with of content*/
    --sl-content-width:56rem;
}
.site-title{
    gap:0.5rem;
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* rehype-autolink-headings */
a._heading-anchor{
    vertical-align: text-bottom;
    margin-bottom: 0.1em;
    text-decoration-line: none;
    margin-left: 0.25em;
    display: inline-block;
    visibility: hidden;
    svg{
        height: 1em;
        width: 1em;
    }
}
:where(h1,h2,h3,h4,h5,h6):hover a._heading-anchor{
    visibility: inherit;
}
